body {
  font-size: 16px;
}


.data{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:auto;
  gap:1em;

}

.avatar{
  height:5em;
  width:10em;
}

.continer{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:auto;
  gap:1em;
}


.data{
  display:flex;
  border:1px solid black;
  width:40%;
  border-radius:10px;

}

.nameAvatar{
  display:flex;

}


.cardData{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap:15em;
  margin:auto;
}
